*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root{
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: white;
  --main-color: cyan;
  --shadow-color: rgb(85, 127, 127);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: 0.3s;
}

.header.sticky {
  background: var(--bg-color);
}

.logo {
  position: relative;
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
}

.navbar {
  position: relative;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

.heading span{
  color: var(--main-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3{
  color: var(--text-color);
  font-weight: 700;
  font-size: 3.2rem;
  padding-left: 5px;
  margin-top: 80px;
}

.home-content h3:nth-of-type(2){
  margin-bottom: 2rem;
}

.home-content h1{
  color: var(--text-color);
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.2;
}

.home-content h2{
  color: var(--text-color);
  font-weight: 700;
  font-size: 2.5rem;
  padding-bottom: 20px;
  padding-left: 5px;
}

.home-content h2:nth-of-type(2){
  margin-bottom: 2rem;
}

.home-content h2 span {
  color: var(--main-color);
}


.home-img img{
  width: 120%;
  opacity: 0;
    animation: zoomIn 1s ease forwards, floatimage 4s ease-in infinite;
    
}

.home-content p{
  font-size: 1.6rem;
  padding-left: 6px;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border-radius: 50%;
  border: .2rem solid var(--main-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2em 1.5rem 3rem 5px;
  transition: .5s ease;
}

.social-media a:hover{
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 5px var(--main-color), 
  0 0 25px var(--main-color), 0 0 50px var(--main-color), 
  0 0 100px var(--main-color), 0 0 200px var(--main-color);
}

.btn{
  display: inline-block;
  margin-left: 10px;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--second-bg-color);
  transition: .5s ease;
}

.btn:hover{
  box-shadow: none;
}


/*============= About Section ==============*/

.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img{
  width: 32vw;

}

.heading{
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2{
  text-align: left;
  line-height: 1.2;
}

.about-content h3{
  font-size: 2.6rem;
}

.about-content p{
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/*============= Education Section ==============*/

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-row .education-column {
  flex: 1 1 40rem;
  padding-bottom: 5rem;
}

.education-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
  padding-top: 5rem;
}

.education-column .education-box {
  position: relative;
  border-left: 0.2rem solid var(--main-color);
}

.education-box .education-content {
  position: relative;
  padding-left: 2rem;
}

.education-box .education-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--shadow-color);
  z-index: -1;
  transition: 0.5s;
}

.education-content .content:hover::before {
  width: 100%;
}

.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}

.education-content .content .year i {
  padding-right: 0.5rem;
}

.education-content .content h3 {
  font-size: 2rem;
}

.education-content .content a {
  font-size: 1.5rem;
  color: var(--main-color);
  float: right;
}

.education-content .content a:hover {
  text-decoration: underline;
}

.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

.skills {
  min-height: auto;
  padding-bottom: 7rem;
  background: var(--second-bg-color);
}

.skills h2 {
  display: inline-block;
  align-items: center;
  margin-left: 50%;
  padding-bottom: 40px;
  transform: translateX(-50%);
}

.skills .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.skills-row .skills-column {
  flex: 1 1 40rem;
}

.skills-column .title {
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem;
}

.skills-column .skills-box {
  position: relative;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
}

.skills-box .skills-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}

.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}

.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}

.skills-content .progress h3 span {
  color: var(--text-color);
}

.skills-content .progress .bar {
  height: 2.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--main-color);
  padding: 0.5rem;
  margin: 1rem 0;
}

.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 50%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
  width: 50%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
  width: 55%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
  width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
  width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
  width: 45%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span {
  width: 35%;
}


.project{
  background: var(--bg-color);
}

.project h2{
  margin-bottom: 4rem;
}

.project-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 2.5rem;
}

.project-container .project-box{
  position: relative;
  border-radius: 2rem;
  box-shadow: 0  0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
} 

.project-box img{
  width: 100%;
  transition: .5s ease;
}

.project-box:hover img{
  transform: scale(1.1);
}

.project-box .project-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.project-box:hover .project-layer{
  transform: translateY(0);
}

.project-layer h4{
  font-size: 3rem;
}

.project-layer p{
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}

.project-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.project-layer a i{
  font-size: 2rem;
  color: var(--second-bg-color);
}

.contact{
  background: var(--second-bg-color);
}

.contact h2{
  margin-bottom: 3rem;
}

.contact form{
  max-width: 70rem;
  margin: 1rem auto; 
  text-align: center;
  margin-bottom: 3rem;
  
}

.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.contact form .input-box input{
  width: 49%;
}

.contact form textarea{
  resize: none;
}

.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color);
}

.footer-text p{
  font-size: 1.6rem;
}

.footer-iconTop a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-iconTop a:hover{
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
  font-size: 2.4rem;
  color: var(--bg-color);
}

/* ============= BREAKPOINTS =============*/
@media (max-width: 1200px){
  html{
    font-size: 55%;
  }
}

@media (max-width: 991px){
  header{
    padding: 2rem 3%;
  }

  section{
      padding: 10rem 3% 2rem;
  }

  .project{
    padding-bottom: 7rem;
  }

  .contact{
   min-height: auto;
  }

  .footer{
    padding: 2rem 3%;
  }
}

@media (max-width: 768px){
 #menu-icon{
   display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    background: var(--bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a{
    display: block;
    font: .2rem;
    margin: 3rem 0;
  }

  .home{
    flex-direction: column-reverse;
  }

  .home-img img{
    width: 70vw;
   
  }

  .home-content h3{
    font-size: 2.6rem;
  }

  .home-content h1{
    font-size: 5rem;
  }

  .home-content h2{
    font-size: 2.6rem;
  }

  .about{
    flex-direction: column-reverse;
  }

  .about img{
    width: 70vw;
    margin-top: 4rem;
  }

  .project h2{
    margin-bottom: 3rem;
  }

  .project-container{
    grid-template-columns: repeat(2, 1fr);
  }
  }

@media (max-width: 617px){
  .project-container{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }

  .contact form .input-box input{
    width: 100%;
  }

  
}

@media (max-width: 365px){
  .home-img img{
    width: 90vw;
  }

  .about-img img{
    width: 90vw;
  }

  .footer{
    flex-direction: column-reverse;
  }

  .footer p{
    text-align: center;
    margin-top: 3rem;
  }

}




@keyframes zoomIn {
  0% {
      opacity: 0;
      transform: scale(0);
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes floatimage {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-24px);
  }
  100% {
      transform: translateY(0);
  }
}